.block5{
width: 1330px;
height: 158px;
left: 0px;
top: 0px;
background: #CB6F3B;	
}
.footer{
float:left;
padding:30px;
width:1110px;
height:150px;	
top:950px;	


background:#000000;	

}

div.Lady>img{
	top:10px;
	padding:6px;
	float:left;
	display:block;
	height:400px;
	
}	
.LLady{
	
	
	height:400px;	
	
}