.block5{
width: 1330px;
height: 158px;
left: 0px;
top: 0px;
background: #CB6F3B;
}
.footer{
background:#000000;	
padding:30px;
width:1110px;
height:150px;	
top:950px;	
}



t{
	display:block;
	float:right;
	
}