.block5{
width: 1121px;
height: 158px;
left: 0px;
top: 0px;
background: #CB6F3B;
  
	
	
}
.oi{
	position: absolute;
width: 800px;
height: 450px;
left: 185;
top: 211px;
	
	
}

.line{
	position: absolute;
width: 1121px;
height: 0px;
left: 0px;
top:  750px;

border: 5px solid #000000;
transform: rotate(0.09deg);
	
}
.k{
	position: absolute;
width: 540px;
height: 220px;
left: 51px;
top: 100px;

background: url(k.jpg);
	
}

.lina{
	position: absolute;
width: 1121px;
height: 0px;
left: 0px;
top:  650px;

border: 5px solid #000000;
transform: rotate(0.09deg);
}
.block6{
	position: absolute;
width: 1945px;
height: 1242px;
left: 1px;
top: 2332px;

background: #F9A569;

	
}